{% extends "base.html" %}

{% block content %}

<main>

<div class="jumbotron">
    <div class="container">
      <h3 class="display-4">You have been logged out.</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p><a href="/accounts/login">Log in </a>again.</p>
        </div>
    </div>
      
    <hr>

</div> <!-- /container -->

</main>

{% endblock %}