{% extends "base.html" %}

{% block content %}

<main>

<div class="jumbotron">
    <div class="container">

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if user.is_authenticated %}
            {% if next %}
            <h3>Your account doesn't have access to this page. To proceed,
            please log in with an account that has access.</h3>
            {% else %}
            <h3>You're already logged in.</h3>
            {% endif %}
        {% else %}
            {% if next %}
            <h1 class="display-4">Please log in to continue</h1>
            {% else %}
            <h1 class="display-4">Log in</h1>
            {% endif %}
        {% endif %}

    </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container">
    <div class="row">
        <div class="col-md-4">

        {% if not user.is_authenticated %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

        <p><a href="{% url 'register' %}">Register</a></p>

        {% endif %}
    
        </div> <!-- col-md-4 -->
    </div> <!-- row -->

<hr>

</div> <!-- /container -->

</main>

{% endblock %}