{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Register</h1>
    </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container">
    <div class="row">
        <div class="col-md-6">

          <form action="/accounts/register" method="post">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
            </tr>
            </table>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>

        </div> <!-- col-md-4 -->
    </div> <!-- row -->
</div> <!-- container -->

{% endblock %}