{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <h3 class="display-4">Registration successful.</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">You can now <a href="/upload-form">upload</a> a form for review or <a href="/case-lookup">lookup</a> an existing case.</p>
        </div>
    </div>
      
    <hr>

</div> <!-- /container -->

</main>

{% endblock %}