{% extends "base.html" %}

{% block content %}

<main>

<div class="jumbotron">
    <div class="container error-message">
      <h3 class="display-3">Error 404</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="text-warning">{{ error_message }}</p>
            {% if not user.is_authenticated %}
            <p class="lead"><a href="/accounts/login">Log in</a> and try again.</p>
            {% endif %}
        </div>
    </div>
      
    <hr>

</div> <!-- /container -->

</main>

{% endblock %}