{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block title %}
  Add attorneys | AttorneyCxn Admin
{% endblock %}

{% block object-tools %}

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Add attorneys to database</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="/add-attorneys" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <label for="attorneys_list_csv">Upload a list of attorneys (CSV format):</label>
          <input type="file" name="attorneys_list_csv">
          {# <p>Or add one:</p> #}
          {# {{ form.as_p }} #}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <hr>

  </div>

</main>

{% endblock %}
