{% extends 'base.html' %}

{% block content %}

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Attorney login help</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <p>If you already have login credentials, please <a href="/accounts/login">log in</a>.</p>
          <p>If you have been added to the platform but do not yet have login credentials, please use the <a href="/accounts/password_reset">password reset form</a> to set your password.</p>
        </div>
      </div>

      <hr>

    </div>

  </main>

{% endblock %}
