{% extends 'base.html' %}

{% block content %}

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Your case</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="case-info">
            <h1>Case ID: {{ case_id }}</h1>
            <p>Opened on {{ opened_on }}</p>
            <p>Attorney: {{ attorney_name }}{% if attorney_email %} - email: {{ attorney_email }}</p>{% else %}</p>
              {% if is_open %}<p>The attorney will contact you within a few days.</p>{% endif %}
            {% endif %}
            {% if title_and_remarks %}
              <div id="doc-remarks">
                <p>Documents: </p>
                {% for title, remarks in title_and_remarks %}
                  <p>Title: {{ title }}</p>
                  {% if remarks %}
                    <p>Remarks: {{ remarks }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            <p>
              {% if is_open %}
                Case is still open
              {% else %}
                Case was closed on {{ closed_on }}
              {% endif %}
            </p>
          </div>
          {% if is_open %}
            {% if client_confirmed_closed %}
              <p>You marked this case resolved. (Waiting for confirmation by Attorney.)</p>
            {% else %}
              <form action="/close-case/{{ case_id }}" method="post">
                {% csrf_token %}
                <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#confirmCloseCaseModal">Mark case resolved</button>
                <!-- Modal -->
                <div class="modal fade" id="confirmCloseCaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Closing the case means this issue has been resolved and you no longer require
                        assistance from an attorney regarding this particular issue. {% if attorney_name %}If you still need help,
                        select "Cancel" below and contact Attorney {{ attorney_name }}.{% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Close case</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

            {% endif %}
          {% endif %}
        </div>
      </div>

      <hr>

    </div> <!-- container -->

  </main>

{% endblock %}
